In [458]:
import numpy as np
import pandas as pd

from fbprophet import Prophet

import keras
from keras import models
from keras import layers

from keras.layers import Dense, Activation, GRU, Dropout, Flatten, Input
from keras.models import Sequential, Model

In [6]:
macro = pd.read_csv('/home/ubuntu/csvs/macro_pivot.csv', parse_dates=True, infer_datetime_format=True)

In [8]:
macro = macro.set_index('date')

In [20]:
len(macro)

1825

In [42]:
macro.index = pd.to_datetime(macro.index)

In [44]:
macro.index[0]

Timestamp('2014-03-17 00:00:00')

In [3]:
etfs = pd.read_csv('/home/ubuntu/csvs/etfs_pivot.csv', parse_dates=True, infer_datetime_format=True)

In [9]:
etfs = etfs.set_index('date')

In [40]:
etfs.index = pd.to_datetime(etfs.index)

In [499]:
etfs

,AAXJ,ACIM,ACWI,ACWV,ACWX,ADRD,ADRE,AFK,AGG,AGQ,...,XTN,YANG,YCS,YINN,YMLI,YMLP,YYY,ZMLP,ZROZ,ZSL
date,,,,,,,,,,,,,,,,,,,,,
2014-03-17,51.8998,55.3618,51.1969,56.4986,39.9088,20.5917,31.1902,27.6914,95.1937,73.2500,...,41.4988,741.9276,65.7700,18.0676,14.6311,53.9279,15.0075,25.0558,79.4274,37.1900
2014-03-18,52.2619,55.6217,51.5374,56.8371,40.1901,20.7505,31.5912,27.7092,95.3084,70.9400,...,41.7226,704.7079,65.3100,18.8990,14.7005,53.8652,15.0523,25.2310,79.7748,38.2300
2014-03-19,51.3565,55.6217,51.0536,56.3470,39.6539,20.5163,31.3451,27.2374,94.8848,69.4300,...,41.4290,737.4106,66.7300,18.0382,14.5478,53.5998,14.9886,25.0308,79.1755,39.2064
2014-03-20,51.1120,55.6217,51.1700,56.2667,39.6012,20.4829,31.4864,27.5400,94.8142,67.5200,...,41.3328,745.2790,66.5800,17.9404,14.5339,53.6893,14.9440,25.1371,79.4534,40.1050
2014-03-21,51.4742,55.2919,51.0536,56.1151,39.5661,20.4949,31.5548,27.9050,94.9466,67.5200,...,41.3183,682.5782,66.2200,19.3881,14.5061,53.6893,14.9695,25.1034,80.3221,40.1450
2014-03-22,51.4742,55.2919,51.0536,56.1151,39.5661,20.4949,31.5548,27.9050,94.9466,67.5200,...,41.3183,682.5782,66.2200,19.3881,14.5061,53.6893,14.9695,25.1034,80.3221,40.1450
2014-03-23,51.4742,55.2919,51.0536,56.1151,39.5661,20.4949,31.5548,27.9050,94.9466,67.5200,...,41.3183,682.5782,66.2200,19.3881,14.5061,53.6893,14.9695,25.1034,80.3221,40.1450
2014-03-24,51.9269,55.1304,50.9908,56.2756,39.6715,20.4641,31.8920,27.7715,95.0878,65.3500,...,41.1997,647.6624,66.2500,20.4153,14.4367,53.2418,14.9122,25.0057,81.4687,41.4350
2014-03-25,52.3344,55.3084,51.3851,56.5789,40.1373,20.6669,32.1837,27.7804,94.9907,65.4400,...,41.3358,633.6470,66.3700,20.8065,14.4235,53.2717,14.9635,25.0121,81.0343,41.3350
2014-03-26,52.3615,55.3084,51.2148,56.4630,40.1197,20.6908,32.1472,27.9584,95.2907,63.8500,...,40.6702,627.7457,65.9900,21.0315,14.4950,53.1524,14.9507,25.0438,81.7132,42.2800
2014-03-27,52.8052,55.4419,51.3582,56.5968,40.3834,20.7418,32.8399,27.9228,95.3613,63.8699,...,40.2366,615.2055,66.2300,21.4130,14.4936,53.3313,14.9507,25.1073,82.6066,42.3150
2014-03-28,53.3213,55.7357,51.7166,56.9802,40.6734,20.8270,32.9311,27.8338,95.2201,64.2500,...,40.5016,575.8639,67.0800,22.7923,14.5547,53.3612,15.0406,25.1517,81.9203,42.0250
2014-03-29,53.3213,55.7357,51.7166,56.9802,40.6734,20.8270,32.9311,27.8338,95.2201,64.2500,...,40.5016,575.8639,67.0800,22.7923,14.5547,53.3612,15.0406,25.1517,81.9203,42.0250
2014-03-30,53.3213,55.7357,51.7166,56.9802,40.6734,20.8270,32.9311,27.8338,95.2201,64.2500,...,40.5016,575.8639,67.0800,22.7923,14.5547,53.3612,15.0406,25.1517,81.9203,42.0250
2014-03-31,53.5024,56.2253,52.0929,57.3995,40.9283,21.1418,33.1442,27.6914,95.0436,64.1200,...,41.4845,577.3367,67.6200,22.7141,14.6519,53.4506,15.0316,25.3484,81.5441,42.1200
2014-04-01,54.1724,56.3944,52.4692,57.4977,41.2095,21.1588,33.5245,28.1275,95.0834,64.2300,...,42.1530,572.1756,68.2000,22.8999,14.7560,53.5699,15.1112,25.4816,80.5379,41.9800
2014-04-02,54.2720,56.3944,52.5947,57.5205,41.2623,21.2017,33.7833,28.1453,94.9242,65.1100,...,42.4578,574.8803,68.4000,22.8021,14.8323,53.5908,15.1433,25.6720,79.6892,41.4250
2014-04-03,54.1271,56.8484,52.4871,57.4531,41.1919,21.1870,33.4598,27.9317,94.9950,64.3300,...,42.2554,576.3556,68.4600,22.6358,14.8740,53.7489,15.1240,25.6402,80.2754,41.9200
2014-04-04,54.0094,56.8484,52.1019,57.2747,41.0338,21.1334,33.4870,27.9496,95.2956,64.9000,...,41.4796,583.9781,67.6200,22.3912,14.8532,53.8682,15.1112,25.7798,81.0191,41.4850
2014-04-05,54.0094,56.8484,52.1019,57.2747,41.0338,21.1334,33.4870,27.9496,95.2956,64.9000,...,41.4796,583.9781,67.6200,22.3912,14.8532,53.8682,15.1112,25.7798,81.0191,41.4850
2014-04-06,54.0094,56.8484,52.1019,57.2747,41.0338,21.1334,33.4870,27.9496,95.2956,64.9000,...,41.4796,583.9781,67.6200,22.3912,14.8532,53.8682,15.1112,25.7798,81.0191,41.4850
2014-04-07,53.9008,56.8484,51.7345,56.9179,40.9547,20.9887,33.7875,27.8605,95.4371,64.5600,...,40.6560,574.8803,67.3700,22.7434,14.7213,53.6893,15.0534,25.6339,81.9291,41.7250
2014-04-08,54.7066,55.5933,51.9137,57.2137,41.0777,20.9565,34.0704,28.2254,95.5520,65.4600,...,40.6750,546.3576,65.5500,23.8683,14.7553,53.8384,15.0913,25.6276,82.2265,41.0900
2014-04-09,55.2046,55.5933,52.5051,57.7742,41.5523,21.1928,34.3712,28.6616,95.5608,64.5600,...,41.5660,529.1456,65.8800,24.6900,14.7976,53.9547,15.1831,25.7735,81.3866,41.6350
2014-04-10,55.0507,55.6823,51.5016,57.1052,40.9019,20.8449,34.0886,28.2788,95.7819,65.6000,...,40.6500,534.5526,65.2100,24.3594,14.6859,53.5103,15.1176,25.6276,82.5678,40.8850
2014-04-11,54.9330,55.6823,51.1073,56.8198,40.6910,20.7350,34.1342,27.9139,95.8703,64.9600,...,40.1932,556.4389,65.4300,23.3401,14.7694,53.5103,15.0533,25.6656,83.8889,41.2650
2014-04-12,54.9330,55.6823,51.1073,56.8198,40.6910,20.7350,34.1342,27.9139,95.8703,64.9600,...,40.1932,556.4389,65.4300,23.3401,14.7694,53.5103,15.0533,25.6656,83.8889,41.2650
2014-04-13,54.9330,55.6823,51.1073,56.8198,40.6910,20.7350,34.1342,27.9139,95.8703,64.9600,...,40.1932,556.4389,65.4300,23.3401,14.7694,53.5103,15.0533,25.6656,83.8889,41.2650
2014-04-14,55.0869,55.0413,51.4568,57.1498,40.8756,20.9036,34.3165,28.1809,95.9057,65.2300,...,40.1017,554.7177,65.6200,23.4477,14.8310,53.7489,15.0624,25.7735,83.6002,41.0355
2014-04-15,54.5527,55.2755,51.4478,57.1943,40.6558,20.8595,33.7605,28.2432,95.9145,62.8000,...,40.5449,595.2888,65.7400,21.7456,14.7768,53.8384,15.0726,25.7481,84.5364,42.6600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-14,68.5900,75.9200,69.7900,86.1500,44.9400,20.9427,39.9827,21.6119,106.9528,26.5200,...,62.9281,49.5700,75.5848,22.4900,12.2801,19.6068,17.4414,13.8900,113.4200,36.8203
2019-02-15,68.2600,76.4200,70.5100,86.9100,45.4100,21.1701,39.7992,21.7800,107.0326,27.1000,...,62.8300,50.3800,75.4011,22.1200,12.3700,19.7442,17.4910,13.9173,113.7400,35.9240
2019-02-16,68.2600,76.4200,70.5100,86.9100,45.4100,21.1701,39.7992,21.7800,107.0326,27.1000,...,62.8300,50.3800,75.4011,22.1200,12.3700,19.7442,17.4910,13.9173,113.7400,35.9240
2019-02-17,68.2600,76.4200,70.5100,86.9100,45.4100,21.1701,39.7992,21.7800,107.0326,27.1000,...,62.8300,50.3800,75.4011,22.1200,12.3700,19.7442,17.4910,13.9173,113.7400,35.9240
2019-02-18,68.2600,76.4200,70.5100,86.9100,45.4100,21.1701,39.7992,21.7800,107.0326,27.1000,...,62.8300,50.3800,75.4011,22.1200,12.3700,19.7442,17.4910,13.9173,113.7400,35.9240
2019-02-19,68.8500,76.8700,70.7500,87.1300,45.6100,21.2500,40.1890,21.8000,107.0925,27.8200,...,63.5000,48.3000,75.7351,23.0700,12.6300,19.7700,17.5605,14.1400,114.1800,34.9780
2019-02-20,69.3800,77.1700,70.9400,87.2800,45.8300,21.2500,40.2200,22.2300,107.1024,28.0600,...,63.3500,47.5100,76.0356,23.4500,12.4370,19.7745,17.5506,14.0000,113.7100,34.6100
2019-02-21,69.2500,76.7584,70.7700,87.2600,45.6700,21.3082,40.0812,22.0454,106.8630,27.1200,...,63.4800,47.7100,75.8967,23.3200,12.2691,19.7469,17.5109,13.9661,112.2383,35.7695
2019-02-22,70.0200,77.4000,71.2000,87.6400,45.9500,21.3422,40.5644,22.3100,107.1324,27.4600,...,63.2800,45.4600,75.8688,24.4900,12.2393,19.7783,17.6300,13.9900,113.0100,35.2786
2019-02-23,70.0200,77.4000,71.2000,87.6400,45.9500,21.3422,40.5644,22.3100,107.1324,27.4600,...,63.2800,45.4600,75.8688,24.4900,12.2393,19.7783,17.6300,13.9900,113.0100,35.2786
2019-02-24,70.0200,77.4000,71.2000,87.6400,45.9500,21.3422,40.5644,22.3100,107.1324,27.4600,...,63.2800,45.4600,75.8688,24.4900,12.2393,19.7783,17.6300,13.9900,113.0100,35.2786
2019-02-25,70.8200,77.4300,71.3800,87.5400,46.1500,21.3600,41.1326,22.4200,107.1024,27.3500,...,63.1979,42.7400,76.3400,25.8700,12.1800,19.7320,17.6600,14.0300,112.4100,35.4491
2019-02-26,70.4900,77.7226,71.4300,87.6700,46.2800,21.4600,41.0577,22.2800,107.2221,27.4400,...,62.7500,43.7500,75.7429,25.2600,12.2252,19.7813,17.6400,13.7710,113.0526,35.3038
2019-02-27,69.9200,77.4250,71.2800,87.5900,46.1000,21.3931,40.6660,22.1250,106.9927,26.7600,...,62.1300,45.7400,76.3438,24.0900,12.1800,19.6864,17.6800,13.7201,111.1300,36.2063
2019-02-28,69.2500,77.2300,71.0300,87.6100,45.8300,21.4140,40.6501,21.7300,106.8032,26.2900,...,61.8300,46.6500,77.0100,23.6200,12.1600,19.5314,17.6500,13.6010,110.6984,36.7776
2019-03-01,69.4800,77.4300,71.4100,87.7200,46.0700,21.3500,40.6500,21.6900,106.6300,24.7300,...,61.8834,45.0200,77.7631,24.4200,11.9990,19.3557,17.6600,13.5600,109.1300,39.1100
2019-03-02,69.4800,77.4300,71.4100,87.7200,46.0700,21.3500,40.6500,21.6900,106.6300,24.7300,...,61.8834,45.0200,77.7631,24.4200,11.9990,19.3557,17.6600,13.5600,109.1300,39.1100
2019-03-03,69.4800,77.4300,71.4100,87.7200,46.0700,21.3500,40.6500,21.6900,106.6300,24.7300,...,61.8834,45.0200,77.7631,24.4200,11.9990,19.3557,17.6600,13.5600,109.1300,39.1100
2019-03-04,69.6400,77.0326,71.2000,87.3600,45.9800,21.3000,40.6208,21.7000,106.7600,24.5493,...,61.0500,44.4100,77.3900,24.7900,12.1200,19.4239,17.6800,13.5735,110.3700,39.3791
2019-03-05,70.2800,77.3888,71.2100,87.5200,46.1300,21.4586,40.9100,21.8100,106.8300,24.7100,...,60.1400,42.7600,77.6156,25.6900,12.0405,19.4180,17.6500,13.5500,110.9600,39.1487
2019-03-06,69.9800,77.2056,70.8600,87.2100,45.9600,21.4586,40.4301,21.7450,106.9900,24.5100,...,59.7299,43.9500,77.3600,24.9600,11.8960,19.2416,17.6100,13.4950,111.3495,39.4212
2019-03-07,68.7800,76.2700,70.1200,86.8000,45.2700,21.2099,39.6907,21.5345,107.2900,24.3000,...,59.1300,46.9400,77.3300,23.3100,11.9500,19.2930,17.5900,13.6500,112.4000,39.7837
2019-03-08,68.1300,75.8600,69.9400,86.8100,45.1900,21.1100,39.6900,21.5400,107.4300,25.4000,...,58.9300,49.4700,76.6500,22.0600,12.0700,19.2700,17.5700,13.5800,113.0000,38.0009
2019-03-09,68.1300,75.8600,69.9400,86.8100,45.1900,21.1100,39.6900,21.5400,107.4300,25.4000,...,58.9300,49.4700,76.6500,22.0600,12.0700,19.2700,17.5700,13.5800,113.0000,38.0009
2019-03-10,68.1300,75.8600,69.9400,86.8100,45.1900,21.1100,39.6900,21.5400,107.4300,25.4000,...,58.9300,49.4700,76.6500,22.0600,12.0700,19.2700,17.5700,13.5800,113.0000,38.0009
2019-03-11,69.4000,76.9200,70.8700,87.6700,45.7300,21.2600,40.6600,21.7100,107.4400,25.2400,...,60.2911,46.4800,76.7651,23.3600,12.2676,19.4227,17.6600,13.7800,112.4000,38.2382
2019-03-12,69.7900,77.0600,71.1400,87.8200,45.7950,21.2801,40.7612,21.7000,107.6400,25.6800,...,59.8500,45.0000,76.7000,24.0800,12.3000,19.5654,17.7100,13.7720,113.4900,37.5880
2019-03-13,69.7000,77.6700,71.5500,88.1900,46.0500,21.2801,41.0480,21.7200,107.5900,25.7600,...,60.6600,45.3200,76.6250,23.9400,12.2150,19.6721,17.7500,13.7800,113.2216,37.4557
2019-03-14,69.3600,77.7050,71.4800,88.0700,45.9600,21.6400,40.7493,21.5400,107.4300,24.8000,...,60.5428,45.8000,77.4669,23.6900,12.1200,19.7003,17.7400,13.7226,112.1600,38.8400
2019-03-15,70.3300,78.0800,72.0600,88.5200,46.4700,21.8103,41.3597,21.6050,107.7000,25.1200,...,60.1601,44.0200,77.2400,24.6400,12.1152,19.7800,17.7500,13.7500,112.6200,38.3270

In [22]:
date_ranges = []

date_ranges.append(pd.date_range(start='2014-03-17', end='2014-06-17').tolist())
date_ranges.append(pd.date_range(start='2014-06-18', end='2014-09-17').tolist())
date_ranges.append(pd.date_range(start='2014-09-18', end='2014-12-17').tolist())
date_ranges.append(pd.date_range(start='2014-12-18', end='2015-03-17').tolist())

date_ranges.append(pd.date_range(start='2015-03-18', end='2015-06-17').tolist())
date_ranges.append(pd.date_range(start='2015-06-18', end='2015-09-17').tolist())
date_ranges.append(pd.date_range(start='2015-09-18', end='2015-12-17').tolist())
date_ranges.append(pd.date_range(start='2015-12-18', end='2016-03-17').tolist())

date_ranges.append(pd.date_range(start='2016-03-18', end='2016-06-17').tolist())
date_ranges.append(pd.date_range(start='2016-06-18', end='2016-09-17').tolist())
date_ranges.append(pd.date_range(start='2016-09-18', end='2016-12-17').tolist())
date_ranges.append(pd.date_range(start='2016-12-18', end='2017-03-17').tolist())

date_ranges.append(pd.date_range(start='2017-03-18', end='2017-06-17').tolist())
date_ranges.append(pd.date_range(start='2017-06-18', end='2017-09-17').tolist())
date_ranges.append(pd.date_range(start='2017-09-18', end='2017-12-17').tolist())
date_ranges.append(pd.date_range(start='2017-12-18', end='2018-03-17').tolist())

date_ranges.append(pd.date_range(start='2018-03-18', end='2018-06-17').tolist())
date_ranges.append(pd.date_range(start='2018-06-18', end='2018-09-17').tolist())
date_ranges.append(pd.date_range(start='2018-09-18', end='2018-12-17').tolist())
date_ranges.append(pd.date_range(start='2018-12-18', end='2019-03-15').tolist())

In [535]:
spy = pd.DataFrame(etfs['SPY'])

In [534]:
ts_model = Prophet()

In [47]:
type(spy.index[0])

pandas._libs.tslib.Timestamp

In [536]:
df = spy[spy.index.isin(date_ranges[0])]

In [52]:
df

                 SPY
date
2014-03-17  168.0166
2014-03-18  169.2159
2014-03-19  168.3142
2014-03-20  169.2944
2014-03-21  168.6401
2014-03-22  168.6401
2014-03-23  168.6401
2014-03-24  167.9427
2014-03-25  168.7397
2014-03-26  167.5261
2014-03-27  167.1729
2014-03-28  167.9970
2014-03-29  167.9970
2014-03-30  167.9970
2014-03-31  169.3737
2014-04-01  170.4968
2014-04-02  171.0673
2014-04-03  170.8409
2014-04-04  168.8212
2014-04-05  168.8212
2014-04-06  168.8212
2014-04-07  166.9555
2014-04-08  167.6438
2014-04-09  169.4462
2014-04-10  165.8823
2014-04-11  164.3924
2014-04-12  164.3924
2014-04-13  164.3924
2014-04-14  165.6876
2014-04-15  166.8287
...              ...
2014-05-19  170.9405
2014-05-20  169.8628
2014-05-21  171.2938
2014-05-22  171.7104
2014-05-23  172.3987
2014-05-24  172.3987
2014-05-25  172.3987
2014-05-26  172.3987
2014-05-27  173.4584
2014-05-28  173.3316
2014-05-29  174.2282
2014-05-30  174.5090
2014-05-31  174.5090
2014-06-01  174.5090
2014-06-02  174.7037
2014-06-03  174.6177
2014-06-04  174.9709
2014-06-05  176.1121
2014-06-06  176.9498
2014-06-07  176.9498
2014-06-08  176.9498
2014-06-09  177.1355
2014-06-10  177.1536
2014-06-11  176.5377
2014-06-12  175.2879
2014-06-13  175.8222
2014-06-14  175.8222
2014-06-15  175.8222
2014-06-16  175.9671
2014-06-17  176.4562

[93 rows x 1 columns]

In [537]:
df = df.reset_index()

In [538]:
df.columns = ['ds', 'y']
ts_model.fit(df)

INFO:fbprophet.forecaster:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/home/ubuntu/anaconda3/envs/env_zipline/lib/python3.5/site-packages/pystan/misc.py:399: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  elif np.issubdtype(np.asarray(v).dtype, float):

In [539]:
future = ts_model.make_future_dataframe(periods = len(date_ranges[1]))

In [540]:
forecast = ts_model.predict(future)

In [541]:
forecast

,ds,trend,trend_lower,trend_upper,yhat_lower,yhat_upper,additive_terms,additive_terms_lower,additive_terms_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,weekly,weekly_lower,weekly_upper,yhat
0,2014-03-17,168.352846,168.352846,168.352846,167.207658,169.323714,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,168.248880
1,2014-03-18,168.376175,168.376175,168.376175,167.457944,169.631904,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,168.580320
2,2014-03-19,168.399504,168.399504,168.399504,167.771774,169.892887,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,168.830259
3,2014-03-20,168.422833,168.422833,168.422833,167.366744,169.537457,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,168.517162
4,2014-03-21,168.446162,168.446162,168.446162,167.241318,169.407219,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,168.316923
5,2014-03-22,168.469491,168.469491,168.469491,167.271961,169.317769,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,168.279226
6,2014-03-23,168.492820,168.492820,168.492820,167.049050,169.214916,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,168.187061
7,2014-03-24,168.516149,168.516149,168.516149,167.328670,169.419984,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,168.412184
8,2014-03-25,168.539478,168.539478,168.539478,167.691925,169.789326,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,168.743623
9,2014-03-26,168.562807,168.562807,168.562807,167.990749,170.107537,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,168.993562
10,2014-03-27,168.652173,168.652173,168.652173,167.706167,169.879274,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,168.746502
11,2014-03-28,168.741538,168.741538,168.741538,167.527399,169.722795,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,168.612299
12,2014-03-29,168.830903,168.830903,168.830903,167.609116,169.741571,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,168.640638
13,2014-03-30,168.920268,168.920268,168.920268,167.588380,169.721349,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,168.614509
14,2014-03-31,169.009633,169.009633,169.009633,167.834000,170.013841,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,168.905668
15,2014-04-01,169.098999,169.098999,169.098999,168.312653,170.399546,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,169.303144
16,2014-04-02,169.055869,169.055869,169.055869,168.439539,170.609645,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,169.486623
17,2014-04-03,169.012739,169.012739,169.012739,168.139874,170.159483,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,169.107068
18,2014-04-04,168.969609,168.969609,168.969609,167.822886,169.896568,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,168.840370
19,2014-04-05,168.603650,168.603650,168.603650,167.341123,169.439268,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,168.413385
20,2014-04-06,168.237692,168.237692,168.237692,166.945769,168.940369,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,167.931933
21,2014-04-07,167.871734,167.871734,167.871734,166.771766,168.857221,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,167.767768
22,2014-04-08,167.505776,167.505776,167.505776,166.672031,168.692622,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,167.709920
23,2014-04-09,167.139817,167.139817,167.139817,166.440712,168.551252,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,167.570572
24,2014-04-10,166.773859,166.773859,166.773859,165.760848,167.926337,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,166.868188
25,2014-04-11,166.407901,166.407901,166.407901,165.221313,167.369828,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,166.278662
26,2014-04-12,166.041942,166.041942,166.041942,164.763223,166.916237,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,165.851677
27,2014-04-13,166.388012,166.388012,166.388012,165.008412,167.105806,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,166.082253
28,2014-04-14,166.734082,166.734082,166.734082,165.494547,167.620904,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,166.630116
29,2014-04-15,167.080151,167.080151,167.080151,166.218191,168.323697,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,167.284296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2014-08-19,187.097476,165.546925,207.284120,165.796485,207.247612,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,187.301621
156,2014-08-20,187.255707,165.109734,207.920734,165.690208,208.333781,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,187.686462
157,2014-08-21,187.413939,164.700210,208.481541,165.195149,208.275632,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,187.508268
158,2014-08-22,187.572170,164.369297,209.063329,164.115252,208.820417,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,187.442931
159,2014-08-23,187.730402,163.970947,209.679781,163.925890,209.710769,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,187.540137
160,2014-08-24,187.888633,163.585951,210.303003,163.133360,210.268701,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,187.582874
161,2014-08-25,188.046865,162.935998,211.024594,163.198734,210.980248,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,187.942899
162,2014-08-26,188.205096,162.591221,211.603874,163.252798,212.004492,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,188.409241
163,2014-08-27,188.363328,162.251850,212.302791,162.925277,212.937557,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,188.794082
164,2014-08-28,188.521559,161.910535,213.021705,161.942087,213.260562,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,188.615888
165,2014-08-29,188.679791,161.497720,213.679689,161.660087,213.780753,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,188.550552
166,2014-08-30,188.838022,161.296807,214.368951,161.013499,214.695991,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,188.647757
167,2014-08-31,188.996253,161.229430,214.950388,160.862582,214.443135,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,188.690494
168,2014-09-01,189.154485,161.045916,215.598208,160.465327,215.525209,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,189.050519
169,2014-09-02,189.312716,160.685288,216.362908,160.864316,217.098417,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,189.516861
170,2014-09-03,189.470948,160.009230,217.101506,160.550369,217.162113,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,189.901703
171,2014-09-04,189.629179,159.716715,217.716026,159.367325,218.007782,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,189.723508
172,2014-09-05,189.787411,159.352341,218.508160,159.455465,218.325214,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,189.658172
173,2014-09-06,189.945642,159.067619,219.180416,158.663423,219.090272,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,189.755377
174,2014-09-07,190.103874,158.774353,219.776936,158.423579,219.400137,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,189.798115
175,2014-09-08,190.262105,158.414285,220.396033,158.377317,220.589285,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,190.158140
176,2014-09-09,190.420337,158.122823,221.122723,158.399377,221.438270,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,190.624482
177,2014-09-10,190.578568,157.761231,222.051457,158.658532,222.718528,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,191.009323
178,2014-09-11,190.736800,157.341006,222.933800,157.718942,223.262816,0.094329,0.094329,0.094329,0.0,0.0,0.0,0.094329,0.094329,0.094329,190.831129
179,2014-09-12,190.895031,156.998278,223.718053,156.384053,223.558624,-0.129239,-0.129239,-0.129239,0.0,0.0,0.0,-0.129239,-0.129239,-0.129239,190.765792
180,2014-09-13,191.053263,156.573235,224.644601,156.195362,224.558631,-0.190265,-0.190265,-0.190265,0.0,0.0,0.0,-0.190265,-0.190265,-0.190265,190.862998
181,2014-09-14,191.211494,156.116535,225.536263,155.979375,225.275633,-0.305759,-0.305759,-0.305759,0.0,0.0,0.0,-0.305759,-0.305759,-0.305759,190.905735
182,2014-09-15,191.369726,155.859806,226.398879,155.834556,226.145384,-0.103966,-0.103966,-0.103966,0.0,0.0,0.0,-0.103966,-0.103966,-0.103966,191.265760
183,2014-09-16,191.527957,155.484243,227.367127,155.583392,227.113686,0.204145,0.204145,0.204145,0.0,0.0,0.0,0.204145,0.204145,0.204145,191.732102
184,2014-09-17,191.686189,154.989127,228.386091,155.259850,227.987231,0.430755,0.430755,0.430755,0.0,0.0,0.0,0.430755,0.430755,0.430755,192.116943

In [61]:
resid = pd.DataFrame(index=date_ranges[1])

In [72]:
preds = np.array(forecast[forecast['ds'].isin(date_ranges[1])]['yhat'])
actuals = np.array(spy[spy.index.isin(date_ranges[1])]['SPY'])

In [74]:
actuals

array([177.7468, 177.0993, 178.3157, 178.3157, 178.3157, 178.2611,
       177.1872, 177.9881, 177.8606, 178.2065, 178.2065, 178.2065,
       178.1155, 179.3076, 179.4896, 180.3724, 180.3724, 180.3724,
       180.3724, 179.7445, 178.5887, 179.3895, 178.6797, 178.9254,
       178.9254, 178.9254, 179.8264, 179.4896, 180.154 , 178.1064,
       179.9264, 179.9264, 179.9264, 179.5897, 180.3724, 180.7728,
       180.7819, 179.9356, 179.9356, 179.9356, 180.0084, 179.2348,
       179.2621, 175.722 , 175.1851, 175.1851, 175.1851, 176.4501,
       174.7392, 174.7938, 173.8473, 175.8585, 175.8585, 175.8585,
       176.3636, 176.1224, 177.3146, 178.1519, 178.1155, 178.1155,
       178.1155, 179.6079, 180.5453, 181.0276, 181.5555, 181.2733,
       181.2733, 181.2733, 182.1925, 182.3108, 182.238 , 182.1379,
       182.6566, 182.6566, 182.6566, 182.6566, 182.5656, 182.4655,
       182.2017, 183.0206, 183.0206, 183.0206, 182.5474, 181.3916,
       182.0742, 182.2835, 181.2187, 181.2187, 181.2187, 181.0831,
       182.4473, 182.693 ])

In [75]:
resid['resid'] = preds - actuals

In [76]:
resid

                resid
2014-06-18  -0.028921
2014-06-19   0.440385
2014-06-20  -0.841351
2014-06-21  -0.744146
2014-06-22  -0.701409
2014-06-23  -0.286784
2014-06-24   1.253458
2014-06-25   0.837400
2014-06-26   0.786705
2014-06-27   0.375469
2014-06-28   0.472674
2014-06-29   0.515412
2014-06-30   0.966437
2014-07-01   0.240679
2014-07-02   0.443520
2014-07-03  -0.617474
2014-07-04  -0.682811
2014-07-05  -0.585605
2014-07-06  -0.542868
2014-07-07   0.445057
2014-07-08   2.067199
2014-07-09   1.651240
2014-07-10   2.182846
2014-07-11   1.871809
2014-07-12   1.969015
2014-07-13   2.011752
2014-07-14   1.470777
2014-07-15   2.273919
2014-07-16   1.994361
2014-07-17   3.863766
...               ...
2014-08-19   6.756321
2014-08-20   6.658862
2014-08-21   5.952768
2014-08-22   6.169631
2014-08-23   6.266837
2014-08-24   6.309574
2014-08-25   5.750399
2014-08-26   6.098441
2014-08-27   6.556082
2014-08-28   6.477988
2014-08-29   5.893952
2014-08-30   5.991157
2014-08-31   6.033894
2014-09-01   6.393919
2014-09-02   6.951261
2014-09-03   7.436203
2014-09-04   7.521808
2014-09-05   6.637572
2014-09-06   6.734777
2014-09-07   6.777515
2014-09-08   7.610740
2014-09-09   9.232882
2014-09-10   8.935123
2014-09-11   8.547629
2014-09-12   9.547092
2014-09-13   9.644298
2014-09-14   9.687035
2014-09-15  10.182660
2014-09-16   9.284802
2014-09-17   9.423943

[92 rows x 1 columns]

In [567]:
X_frame = macro[macro.index.isin(date_ranges[1])]

In [308]:
X = []

for vector in X_values.columns:
    X.append(np.array(X_values[vector]))

In [568]:
X = X_frame.values

In [569]:
len(X)

93

In [523]:
X = X.transpose()

In [526]:
X.shape

(28779, 93)

In [289]:
X_check = np.array(X)

In [291]:
X = X.transpose()

In [240]:
y = np.array(resid['resid'])

In [483]:
y

(92,)

In [484]:
X_inputs = np.reshape(X, (X.shape[0], X.shape[1], 1))

In [485]:
X_inputs.shape

(92, 28779, 1)

In [456]:
input_shape = (28779,1)

In [477]:
gru_model.add(Input(shape=input_shape))

gru_model.add(GRU(units=100, return_sequences=True))
gru_model.add(Dropout(0.2))

gru_model.add(GRU(units=50, return_sequences=False))
gru_model.add(Dropout(0.2))
gru_model.add(Dense(1))
gru_model.add(Activation('linear'))

In [486]:
inputs = Input(shape=(28779,1))
gru_1 = GRU(units=100, return_sequences=True, dropout=0.2)(inputs)
gru_2 = GRU(units=50, return_sequences=False, dropout=0.2)(gru_1)
dense = Dense(1, activation='linear')(gru_2)

model = Model([inputs], dense)

In [487]:
model.compile(loss='mse', optimizer='rmsprop')

In [488]:
model.fit(x=X_inputs,y=y, batch_size=256, epochs = 3, validation_split=0.2)

Train on 73 samples, validate on 19 samples
Epoch 1/3
73/73 [==============================] - 118s 2s/step - loss: 30.7592 - val_loss: 37.1963
Epoch 2/3
73/73 [==============================] - 102s 1s/step - loss: 20.4083 - val_loss: 26.1914
Epoch 3/3
73/73 [==============================] - 92s 1s/step - loss: 18.3954 - val_loss: 21.8694

In [529]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_16 (InputLayer)        (None, 28779, 1)          0
_________________________________________________________________
gru_103 (GRU)                (None, 28779, 100)        30600
_________________________________________________________________
gru_104 (GRU)                (None, 50)                22650
_________________________________________________________________
dense_38 (Dense)             (None, 1)                 51
=================================================================
Total params: 53,301
Trainable params: 53,301
Non-trainable params: 0
_________________________________________________________________

In [530]:
predictors_array = macro[macro.index.isin(date_ranges[2])].values.transpose()
predictors = np.reshape(predictors_array, (predictors_array.shape[1], predictors_array.shape[0], 1))

predictions = model.predict(predictors)

In [531]:
predictions.shape

(91, 1)

In [543]:
future = ts_model.make_future_dataframe(periods=len(date_ranges[1])+len(date_ranges[2]))
forecast = ts_model.predict(future)

ts_resid = forecast[forecast['ds'].isin(date_ranges[2])]['yhat'].values - etfs[etfs.index.isin(date_ranges[2])]['SPY'].values

In [563]:
predicted_prices = forecast[forecast['ds'].isin(date_ranges[2])]['yhat'].values

In [547]:
macro_predict = macro[macro.index.isin(date_ranges[2])].values
predictors = np.reshape(macro_predict, (macro_predict.shape[0], macro_predict.shape[1], 1))

predicted_resids = model.predict(predictors)

In [549]:
final_predictions = predicted_prices - predicted_resids

In [559]:
final_resids = predicted_resids.reshape(1,91)

In [564]:
trades = predicted_prices - final_resids[0]

In [566]:
etfs[etfs.index.isin(date_ranges[2])]['SPY'] - trades

date
2014-09-18    -3.828575
2014-09-19    -3.928543
2014-09-20    -4.025752
2014-09-21    -4.068493
2014-09-22    -5.845623
2014-09-23    -7.354370
2014-09-24    -6.322018
2014-09-25    -9.087831
2014-09-26    -7.596206
2014-09-27    -7.693424
2014-09-28    -7.736175
2014-09-29    -8.425415
2014-09-30    -9.367171
2014-10-01   -12.193229
2014-10-02   -11.987206
2014-10-03    -9.964846
2014-10-04   -10.061636
2014-10-05   -10.103963
2014-10-06   -10.673885
2014-10-07   -13.910130
2014-10-08   -11.204282
2014-10-09   -14.591504
2014-10-10   -16.537190
2014-10-11   -16.634024
2014-10-12   -16.676396
2014-10-13   -19.897960
2014-10-14   -20.098748
2014-10-15   -21.644341
2014-10-16   -21.612105
2014-10-17   -19.534931
                ...
2014-11-18    -9.311606
2014-11-19    -9.998216
2014-11-20    -9.490894
2014-11-21    -8.419933
2014-11-22    -8.517218
2014-11-23    -8.560040
2014-11-24    -8.389854
2014-11-25    -8.993488
2014-11-26    -8.893826
2014-11-27    -8.715732
2014-11-28    -9.052800
2014-11-29    -9.150114
2014-11-30    -9.192966
2014-12-01   -10.869708
2014-12-02   -10.123411
2014-12-03    -9.771123
2014-12-04    -9.802111
2014-12-05    -9.424766
2014-12-06    -9.520872
2014-12-07    -9.562520
2014-12-08   -11.192367
2014-12-09   -11.785640
2014-12-10   -15.195723
2014-12-11   -14.074779
2014-12-12   -17.025603
2014-12-13   -17.121777
2014-12-14   -17.163494
2014-12-15   -18.784309
2014-12-16   -20.712550
2014-12-17   -17.548899
Name: SPY, Length: 91, dtype: float64

In [500]:
predicted_prices = actuals - predictions

In [501]:
predicted_prices

array([[173.30342632, 172.65592632, 173.87232632, ..., 176.63972632,
        178.00392632, 178.24962632],
       [173.30343013, 172.65593013, 173.87233013, ..., 176.63973013,
        178.00393013, 178.24963013],
       [173.30343443, 172.65593443, 173.87233443, ..., 176.63973443,
        178.00393443, 178.24963443],
       ...,
       [173.27978473, 172.63228473, 173.84868473, ..., 176.61608473,
        177.98028473, 178.22598473],
       [173.27878385, 172.63128385, 173.84768385, ..., 176.61508385,
        177.97928385, 178.22498385],
       [173.27779155, 172.63029155, 173.84669155, ..., 176.61409155,
        177.97829155, 178.22399155]])

In [424]:
gru_model.compile(loss='mse', optimizer='rmsprop')

In [425]:
model.fit(x=X,y=y, batch_size=256, epochs = 3, validation_split=0.2)

ValueError: Error when checking input: expected gru_84_input to have 3 dimensions, but got array with shape (28779, 92)